@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');

:root {
    --green-500: hsl(158, 36%, 37%);
    --green-700: hsl(158, 42%, 18%);
    --black: hsl(212, 21%, 14%);
    --grey: hsl(228, 12%, 48%);
    --cream: hsl(30, 38%, 92%);
    --white: hsl(0, 0%, 100%);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: var(--cream);
    color: var(--black);
    height: 100%;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    max-width: 600px;
    width: 100%;
    background-color: var(--white);
    border-radius: 8px;

}

.card {
    display: flex;
}

.card-image {
    width: 50%;
    height: inherit;
    border-radius: 8px 0 0 8px;
    background-image: url('../images/image-product-desktop.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-content {
    padding: 2rem;
    width: 50%;
    box-sizing: border-box;
}

.card-category {
    text-transform: uppercase;
    font-size: 12px;
    color: var(--grey);
    line-height: 1.2;
    letter-spacing: 5px;
    margin-bottom: 1.5rem;
}

.card-title {
    font-family: 'Fraunces', serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.card-text {
    color: var(--grey);
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.card-price {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 1.5rem;
}

.price-discount {
    font-family: 'Fraunces', serif;
    font-size: 32px;
    font-weight: 700;
    color: var(--green-500);
}

.price-regular {
    text-decoration: line-through;
    color: var(--grey);
    padding: auto 0;
}

.btn-cart {
    width: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--green-500);
    font-size: 14px;
    color: var(--white);
    border: none;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-weight: 700;
    line-height: 1.1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.btn-cart:hover {
    background-color: var(--green-700);
    cursor: url('../images/pointer.png'), pointer;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 620px) {
    body {
        padding: 3rem 2rem;
        height: auto;
    }

    .container {
        max-width: 100%;
    }

    .card {
        flex-direction: column;
        justify-content: space-between;
    }

    .card-image {
        border-radius: 8px 8px 0 0;
        background-image: url('../images/image-product-mobile.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        width: 100%;
        height: 340px;

    }

    .card-content {
        width: 100%;
    }


}
@media (max-width: 350px) {
.card-price {
    flex-direction: column;
}
}


